{#
/**
 * @file
 * Default template implementation to display the cookiebar block.
 *
 * Available variables:
 *   - Theme
 *   - isCookie
 *   - cookies
 *   - label
 *   - text
 *   - accept_button_text
 *   - decline_button_text
 *
 * @see template_preprocess_kees_cookiebar()
 *
 * @ingroup themeable
 */
#}
{% if not isCookie %}
    <span id="cookiebar_container">

        <div class="consent consent__side--right-bottom ">
            <div class="row">
                <div class="col-xs-12">
                    <div class="consent__inner">
                        <h2>{{ label }}</h2>
                        <p>{{ text }}</p>
                        <form class="consent__form" id="kees_cookie_form" method="post" onsubmit="return keesCookieForm()" action="">

                            <div class="scroll_wrapper">

                                {% for key, cookie in cookies %}
                                    <div class="consent__form__item consent__description--closed {{ (loop.index == 1)? "consent__form__item--first" }} ">
                                        <input type="checkbox" name="{{ key }}" id="{{ key }}" value="y" class="consent__form__checkbox" {{ (loop.index == 1)? "checked disabled" }} >
                                        <label class="consent__form__label--checkbox" for="{{ key }}"><span>{{ cookie.label }}</span></label>
                                        <a href="#info" class="consent__form__trigger trigger--closed"></a>

                                        <div class="consent__cookie--description">
                                            {{ cookie.desc|raw }}
                                        </div>

                                    </div>
                                {% endfor %}

                            </div>
                            <button class="consent__form__submit btn button btn-primary" type="submit"><span>{{ accept_button_text }}</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </span>
{% endif %}